html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px = 1rem */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@mixin resetMargins() {
  padding: none;
  margin: none;
}

.excersiceOne {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  img {
    width: 40%;
  }
}
