html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px = 1rem */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@mixin resetMargins() {
  padding: 0rem;
  margin: 0rem;
}

h1,
h2,
p {
  @include resetMargins();
}

h1 {
  font-size: 2.2rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
}

.hidden {
  display: none !important;
}

//excersiceOne function
.borderRedActive {
  border: 2px solid red;
  border-radius: 200px;
}

.excersiceOne {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  img {
    width: 40%;
    cursor: pointer;
  }
}

.excersiceTwo {
  .excersiceTwo__container {
    display: flex;
    justify-content: space-between;

    .excersiceTwo__imgContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        border-radius: 200px;
        width: 75%;
      }

      input {
        margin-top: 2rem;
      }
    }
  }
  .excersiceTwo__inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    p {
      margin-bottom: 1rem;
    }
  }
}

.excersiceThree {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-bottom: 2rem;
  }

  .excersiceThree__inputContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
}
